* {
    margin: 0;
    padding: 0;
    outline: 0;
    word-wrap: break-word;
}

div,
section {
    display: block;
}

.grid {
    width: 1200px;
}

.grid *,
.grid *:before,
.grid *:after {
    box-sizing: border-box;
}

.grid-fluid {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.col-sm-24,
.col-sm-8 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-sm-24 {
    flex: 0 0 100%;
    max-width: 100%;
}

.col-sm-24,
.col-sm-8 {
    float: left;
}

img {
    border-style: none;
    max-width: 100%;
}

.blog--article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog--articleBottomText {
    flex: 0 0 125px;
    background-color: rgba(255, 255, 0, 0.1);
    display: flex;
    flex-direction: column;
    /* overflow-y:hidden; just adjust flex-basis */
    justify-content:space-between;
    margin-top: 24px;
}

.blog--articleTitle {
    font-size: 1.5rem;
    margin-top: 32px;
}

.blog--articleLead,
.blog--articleLink {
    font-size: 1.25rem;
}

.blog--articleLinkWrapper {
    margin-top: 12px;
}

.blog--articleImage {
    border-radius: 20px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 377 / 260;
}

@media (min-width: 960px) {
    .col-sm-8 {
        flex: 0 0 33.33333333%;
        max-width: 33.33333333%;
    }
}

@media (min-width: 960px) and (max-width: 1249px) {
    .grid {
        width: 900px;
    }
}

@media (max-width: 959px) {
    .grid {
        width: 700px;
    }
}

/* Alternative */
.altBlog {
    max-width: 1200px;
    margin: 20px auto 0;
}

.altGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 260px max-content max-content auto;
    grid-gap: 20px;

    grid-template-areas:
        "image1 image2 image3"
        "title1 title2 title3"
        "lead1 lead2 lead3"
        "link1 link2 link3";
}

.altCard {
    display: contents;
}

.altCard__title {
    font-size: 1.5rem;
    margin-top: 32px;
}

.altCard__lead,
.altCard__readMore {
    font-size: 1.25rem;
}

.altCard__image img {
    width: 100%;
}

.altCard:nth-child(1) .altCard__image {
    grid-area: image1;
}
.altCard:nth-child(1) .altCard__title {
    grid-area: title1;
}
.altCard:nth-child(1) .altCard__lead {
    grid-area: lead1;
}
.altCard:nth-child(1) .altCard__readMore {
    grid-area: link1;
}

.altCard:nth-child(2) .altCard__image {
    grid-area: image2;
}
.altCard:nth-child(2) .altCard__title {
    grid-area: title2;
}
.altCard:nth-child(2) .altCard__lead {
    grid-area: lead2;
}
.altCard:nth-child(2) .altCard__readMore {
    grid-area: link2;
}

.altCard:nth-child(3) .altCard__image {
    grid-area: image3;
}
.altCard:nth-child(3) .altCard__title {
    grid-area: title3;
}
.altCard:nth-child(3) .altCard__lead {
    grid-area: lead3;
}
.altCard:nth-child(3) .altCard__readMore {
    grid-area: link3;
}